<!-- templates/fail.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        body {
            background-color: red; /* Change the background color */
        }

        .heading {
            color: white; /* Change the text color */
        }
    </style>
</head>

<body>
    <h1 class="heading">It appears that something has gone wrong. Connection to DB has failed: </h1>
    <p class="heading">You might want to review the configurations...</p>
    <p class="heading">{{ words }}</p>
</body>

</html>